@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

code {
  white-space: pre;
}
body {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526, #414345);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526, #414345);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Raleway, sans-serif;
  padding-right: 5%;
  padding-left: 5%;
  overflow-x:hidden;
}
h1 {
  width: 80%;
  margin: auto;
  text-align: center;
  color: white;
  padding-bottom: 5%;
}
h2, h3 {
  width: 100%;
  color: white;
}
#autor {
  color:white;
  text-align: right;
  font-style: italic;
  font-size: 14px;
}
body > p {
  text-indent: 40px;
  text-align: justify;
  color: white;
}
.figure {
  width: 100%;
  text-align: center;
}
.figure > p {
  text-align: center;
  font-style: italic;
  font-size:small;
  color: white;
}
.figure > img {
  /*display:inline-block;
  vertical-align: middle;*/
}
pre {
  width: 80%;
  margin: auto;
  text-align: center;
  color: rgb(38, 224, 0);
}

a {
  color: white;
}

a:hover {
  color: rgb(214, 211, 214);
}

@media screen and (max-width:640px) {
  /*Se reduce el tamaño de la cabecera en resoluciones bajas*/
  .medium img {
    width: 90%;
    height:auto;
  }
}

@media screen and (max-width:1280px) {
  /*Se reduce el tamaño de la cabecera en resoluciones bajas*/
  .big img {
    width: 90%;
    height:auto;
  }
}
